body {
    color: white;
    background-image: url("images/galaxy.webp");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#main-logo {
    width: 100px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

.underline {
    border-bottom: 4px solid white;
}
   