body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

/* 
Challenge:
Add the underline to the title using a <span> and a class.
*/