body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    /* 
    Challenge:
    Replace the two margin properties with a 
    single margin shorthand.
    */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}