body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

/*
Challenge:
1. Give the card div a class (name it "card")
2. Select the card class and give it a dotted blue border
3. Add 20 pixels of padding on all sides of the card
*/