body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    /* 
    Challenge:
    Add colors to the card according to the design.
    black - #2b2839 (the text color)
    blue - #ddebf8
    purple - #d8cefe
    */
}

.border-blue {
    border: 1px dotted blue;
}
    