/*
Challenge:
Wrap the "hero" section (title, button, logo) in a <div>
and set its background image to the galaxy image. This will 
force you to also add some padding on the "hero" <div>.

Add a "Terms and conditions apply" <h3> below the "hero"
section.

PS: your layout will likely be disturbed by the <body> 
tag's default margin.
*/

body {
    color: #82a5ca;
    background-image: url("images/galaxy.webp");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#main-logo {
    width: 100px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}
   