img {
    /* Challenge: 
    Add some space (margin) above our image!
    Do you remember how we added spacing in the 
    cookie widget example?
    */
    display: block;
    width: 300px;
}


input {
    display: block;
    width: 400px;
}
