/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: yellow;     /* red, blue, yellow, etc */
    color: blue;            /* red, blue, yellow, etc */
    font-size: 20px;        /* 0px - 100px and beyond */
    font-weight: lighter;   /* lighter, normal, bold  */
    text-align: right;      /* left, center or right  */ 
    margin-top: 5px;        /* From 0px and upwards   */
}





