body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    /*
    Challenge:
    Give the card a width of 400px wide and center it.
    */
    padding: 20px;
    display: flex;
    justify-content: space-around
}

.border-blue {
    border: 1px dotted blue;
}

