body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

/*
Challenge:
Add a blurred border around the <h1> using
the text-shadow technique you just learned. Set
the blur to 4px and the color to black.
*/

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}
   