.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    /*
    Challenge:
    Style the button according to the provided design.
    Hint: Use padding, font-size, border-radius, border, and background
    
    PS: 
    The real background is #f8f9fa but it is failing our contrast check. 
    So here's the background color we will use: #dfe1e5
    */
    
}
