body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    padding: 20px;
    display: flex;
    /*
    Challenge:
    Add horizontal space around the flex children.
    Hint: google "justify content"
    */
}

.border-blue {
    border: 1px dotted blue;
}

